@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
  margin: 0 auto;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.bg {
  background-color: #ff3b00;
}

input[type='checkbox'] {
  accent-color: #ff3b00;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-55 {
  margin-bottom: 55px;
}
.index-wrapper {
  background: #000000;
  width: 375px;
  max-width: 100%;
  margin: 0 auto;
}

.index-top {
  padding: 48px 89px;
}
.index-top img {
  width: 100%;
}
.index-bottom-wrapper {
  background: #fff;
  border-radius: 20px 20px 0 0;
}
.index-bottom {
  padding: 47px 22px 0 31px;
}
.section-title {
  font-size: 16px;
  margin-bottom: 30px;
  text-align: left;
}
.index-content p {
  font-size: 14px;
  color: #6e6e6e;
  text-align: left;
  margin-bottom: 73px;
}
.main-btn {
  width: 337px;
  border-radius: 10px;
  background: #ff3b00;
  border: 2px solid #ff3b00;
  box-shadow: none;
  color: #fff;
  font-size: 16px;
  padding: 14px 136px;
  margin-bottom: 44px;
  font-weight: 400;
  cursor: pointer;
}

/* -------------------------------------- sign in ------------------------------------------ */
.signin-wrapper input {
  width: 300px;
  max-width: 100%;
  height: 48px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  color: #a7a7a7;
  margin-bottom: 16px;
  padding: 0 20px;
}
.signin-wrapper {
  background: #f5f7f9;
  padding: 184px 0px;
  width: 375px;
  max-width: 100%;
  margin: 0 auto;
}
.sign-title {
  font-size: 46px;
  font-weight: 600;
  line-height: 56px;
}
.title p {
  font-size: 16px;
  font-weight: 500;
  color: #3d3d3d;
  padding-top: 20px;
  padding-bottom: 30px;
  line-height: 24px;
}
.title span {
  color: #ff3b00;
  font-size: 16px;
  display: inline-block;
  font-weight: 500;
}
.forgot {
  text-align: right;
  color: #a7a7a7;
  font-size: 14px;
  padding-left: 225px;
  padding-right: 38px;
  margin-top: 8px;
  margin-bottom: 23px;
}
.agree {
  color: #a7a7a7;
  font-size: 14px;
  margin-left: 8px;
  padding-right: 108px;
  text-align: left;
  margin-top: 8px;
  margin-bottom: 23px;
}
.ml-15 {
  margin-left: 28px;
}
.or {
  width: 272px;
  max-width: 100%;
  padding: 0 18px;
}
.icon {
  display: flex;
  justify-content: center;
  padding: 26px 82px 0 82px;
}

.icon a img {
  width: 38px;
  margin: 0 10px;
}

/* ------------------------------ sign up ------------------------- */

.tacbox {
  text-align: left;
  padding-left: 18px;
}

.check-input {
  height: 14px !important;
  width: 14px !important;
  vertical-align: middle;
}
input[type='checkbox'] {
  width: 20px;
  height: 30px;
  margin: auto;
  display: table-row;
  border: 5px solid red !important;
  /* -webkit-transform: rotate(45deg);
  transform: rotate(45deg); */
  margin-left: 4px;
  margin-top: 1px;
}
/* --------------------------------- forgot -------------------------- */
.forgot-title {
  font-size: 18px;
  font-weight: 500;
  color: #3d3d3d;
  padding-left: 65px;
  padding-right: 74px;
  line-height: 24px;
  margin-bottom: 24px;
  margin-top: 26px;
}
.back {
  font-size: 14px;
  font-weight: 400;
  color: #a7a7a7;
  margin-top: 16px;
  display: block;
}
.col-title {
  color: #ff3b00;
}
.forgot-wrapp {
  padding: 247px 0;
}
/* ------------------------------------- step ---------------------------------------------*/
.step-wrapper {
  padding-top: 133px;
  width: 375px;
  max-width: 100%;
  margin: 0 auto;
}
.step img {
  width: 350px;
}
.skip-next {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  padding-bottom: 30px;
}
.skip-next p {
  font-size: 18px;
  font-weight: 500;
  color: #3d3d3d;
}
.skip-next span {
  font-size: 18px;
  font-weight: 500;
  color: #ff3b00;
}

.step-title {
  font-size: 18px;
  font-weight: 500;
  color: #3d3d3d;
  padding-left: 65px;
  padding-right: 74px;
  line-height: 24px;
  margin-bottom: 55px;
  margin-top: 26px;
}
.circle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 61px;
}
.circle-btn div {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  border: 1px solid #ff3b00;
  margin: 0 5px;
}

/* ------------------------------------------- loader -------------------------------------------- */
.load-area {
  padding: 375px 50px;
  max-width: 100%;
}
.loader-line {
  width: 273px;
  height: 19px;
  position: relative;
  overflow: hidden;
  background-color: #000000;
  margin: 20px auto;
}

.loader-line::before {
  content: '';
  position: absolute;
  left: -50%;
  height: 19px;
  width: 15%;
  background-color: #ec0000;
  animation: lineAnim 1s linear infinite;
  border-left: 4px solid #fff;
  border-right: 4px solid #fff;
}
.load-img {
  width: 273px;
}

@keyframes lineAnim {
  0% {
    left: -15%;
  }
  50% {
    left: 20%;
    width: 15%;
  }
  100% {
    left: 100%;
    width: 15%;
  }
}
/* ------------------------------------------------------ profile ---------------------------------------------------------  */
.boxContainer {
  width: 293px;
  height: 51px;
  background: #f5f7f9;
  border: 2px solid #f5f7f9;
  border-radius: 50px;
  padding: 0 10px;
}
.elementsContainer {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.search {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0 5px;
  color: #6e6e6e;
  font-weight: 500;
  font-size: 18px;
  border-radius: 50px;
  background: #f5f7f9;
}
.search:focus {
  outline: none;
}
.s-icon {
  font-size: 18px;
  margin-top: 5px;
}

/* filter  */
.homemap-wrapper {
  width: 375px;
  max-width: 100%;
  margin: 0 auto;
}
.hmap {
  display: flex;
  justify-content: space-between;
  padding: 17px 20px;
}
.bar {
  height: 24px;
  width: 24px;
}
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  padding: 15px;
}
nav a {
  text-decoration: none;
  color: red;
}

.list {
  display: flex;
  list-style: none;
  gap: 25px;
}
ul li {
  list-style: none;
}
#toggler,
label {
  display: none;
}
label .bar {
  color: #ec0000;
}

@media screen and (max-width: 1920px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  label {
    display: inline-flex;
  }
  #toggler:checked ~ .menu {
    max-height: 100%;
  }
  .list {
    flex-direction: column;
    align-items: center;
    pad: 20px;
  }
}
.show-list {
  height: 79px;
  background: rgb(191, 187, 187);
  border-radius: 17px 17px 0 0;
  padding: 7px;
}
.border {
  height: 4px;
  width: 70px;
  background-color: #000;
  margin: 11px auto;
}
.show-list a {
  font-size: 18px;
  font-weight: 700;
  color: #6e6e6e;
  text-decoration: none;
}

/* notifications-wrapper    */
.notifications-wrapper {
  width: 375px;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 270px;
}
.noti-title-main {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d5d5d5;
  padding: 23px 10px;
  margin-bottom: 45px;
}
.noti-wrapp {
  display: flex;
  justify-content: space-between;
  padding: 20px 33px;
}
.noti-border {
  border-bottom: 1px solid #d5d5d5;
  margin: 0 33px;
}
.noti-left {
  display: flex;
  justify-content: space-between;
}
.noti-img img {
  width: 56px;
  height: 56px;
}
.noti-title {
  font-size: 18px;
  font-weight: 700;
  color: #6e6e6e;
  padding-left: 102px;
}
.noti-text p {
  font-size: 14px;
  color: #6e6e6e;
  font-weight: 400;
  text-align: left;
  width: 153px;
  max-width: 100%;
  padding-left: 12px;
}
.noti-right p {
  font-size: 12px;
  color: #6e6e6e;
  width: 32px;
}
.more-btn {
  width: 112px;
  height: 25px;
  border-radius: 7px;
  border: 1px solid #ff3b00;
  color: #ff3b00;
  margin-top: 11px;
  padding: 3px 41px;
  font-size: 14px;
  font-weight: 400;
}
.sm-btn {
  width: 57px;
  height: 25px;
  border-radius: 7px;
  border: 1px solid #ff3b00;
  color: #ff3b00;
  margin-top: 11px;
  padding: 3px 16px;
  font-size: 14px;
  font-weight: 400;
}
.mr-12 {
  margin-right: 12px;
}

/* --------------------------------------------------------Profile--------------------------------------------------------  */
.view-profile {
  width: 375px;
  max-width: 100%;
  margin: 0 auto;
  /* background: #f0f0f0; */
  border-radius: 20px;
}
.close {
  position: absolute;
  left: -320px;
  margin: 0 auto;
  /* z-index: 9999; */
  right: 0;
  height: 24px;
  width: 24px;
  top: 20px;
}
.vp-img img {
  margin-bottom: 20px;
}
.vp-name {
  position: absolute;
  top: 281px;
  margin: 0 20px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}
.edit {
  width: 337px;
  max-width: 100%;
  height: 48px;
  color: #ff3b00;
  font-size: 16px;
  border: 1px solid #ff3b00;
  border-radius: 7px;
  background: #fff;
  margin: 0 20px;
}
.edit-button {
  margin-bottom: 13px;
}
.vp-body {
  margin: 13px 20px;
  text-align: left;
}
.content {
  margin-bottom: 20px;
  width: 255px;
}
.content h2 {
  font-size: 16px;
}
.content p {
  font-size: 14px;
  color: #878787;
}
.res-color {
  color: #ff3b00;
}
.content.last {
  margin-bottom: 99px;
}
.social-icon {
  color: #6e6e6e;
  width: 25px;
  height: 25px;
  margin-right: 20px;
  margin-top: 10px;
}
/* / _____________profileds_______________ / */
.heart {
  position: absolute;
  right: 0;
  right: 764px;
  color: #fff;
  font-size: 24px;
  margin: 20px 20px;
}

.compo {
  position: absolute;
  left: 315px;
  right: 0;
  bottom: -15px;
  width: 24px;
  z-index: 999;
}
.highlight {
  color: #222;
  font-weight: 700;
  font-size: 16px;
}
.highlight-flw {
  color: #6e6e6e;
  font-weight: 700;
  font-size: 16px;
}
/* / _____________ShowList____________ / */
ul {
  padding: 0;
}
.nmbr {
  font-size: 14px;
  color: #6e6e6e;
  font-weight: 500;
  margin-right: 7px;
}
.show-list-body {
  width: 375px;
  max-width: 100%;
  margin: 0 auto;
  /* background: #f9f9fa; */
  border-radius: 20px;
}
.list-info {
  text-align: left;
}
.list-detail {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 10px;
  margin-top: 30px;
}
.list-img {
  width: 56px;
  height: 56px;
}
.single-list {
  display: flex;
  align-items: center;
}
.list-img {
  width: 56px;
  height: 56px;
  margin-right: 12px;
}
.list-info p {
  color: #8b8b8b;
  line-height: 18px;
}
.list-single-info {
  font-weight: 700;
  font-size: 14px;
  color: #000;
}
.list-heart {
  color: #8b8b8b;
  height: 24px;
  width: 24px;
}
.rating {
  margin-right: 8px;
}
.rating2 {
  margin-right: 8px;
  color: #00000015;
}
.btn-tab {
  height: 38px;
  width: 106px;
  background: #ff3b00;
  border: none;
  border-radius: 5px;
  color: #fcfcfc;
  font-size: 16px;
  font-weight: 500;
}
.on-button {
  background: #ffc8b8;
  width: 318px;
  max-width: 100%;
  margin: 0 auto;
}
.mr {
  background: #ffc8b8;
}
ul li:last-child {
  border-bottom: 0;
}
.pt-60 {
  padding-top: 60px;
}
/* / ____________team list______________ / */
.section-title h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #6e6e6e;
  font-weight: 700;
}
.team-list-title {
  font-size: 18px;
  font-weight: 700;
  color: #6e6e6e;
  padding-top: 20px;
  padding-bottom: 25px;
}
.btn-tab-border {
  border: none;
  background: none;
  margin: 0 10px;
  font-size: 16px;
  color: #6e6e6e;
}
.btn-tab-border:hover {
  transition: 0.3s;
  border-bottom: 1px solid #000;
  color: #000;
}
/* home1-map  */
.bottom-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home1-map {
  height: 280px;
  width: 375px;
  max-width: 100%;
}
.bottom-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: red; */
  padding: 11px;
  height: 57px;
}
.single-h-icon p {
  font-size: 12px;
  font-weight: 500;
  color: #a7a7a7;
}
.home1-icon {
  color: #a7a7a7;
  width: 18px;
  height: 16px;
}
.to {
  font-size: 18px;
  font-weight: 500;
  color: #6e6e6e;
  text-align: left;
  padding-top: 11px;
}
.rank h3 {
  background: #f5f7f9;
  color: #6e6e6e;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}
.rank h3 {
  background: #f5f7f9;
  color: #6e6e6e;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
}
.border-none {
  border: none;
}
.save {
  font-size: 16px;
  font-weight: 500;
  color: #ff3b00;
}
.fl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d5d5d5;
  padding: 23px 10px;
  margin-bottom: 45px;
}
.edit-title {
  font-size: 18px;
  font-weight: 700;
  color: #6e6e6e;
}
/* mainProfile  */
.search-box {
  background: #d9dbdd;
  padding: 10px 65px;
  border-radius: 27px;
}
.searchs {
  border: none;
  background: transparent;
}
.menu-wrapper {
  width: 375px;
  max-width: 100%;
  margin: 0 auto;
}
.menu-body {
  background-color: #ffffff;
  border-radius: 20px;
}
.profile-info {
  display: flex;
  justify-content: space-around;
}
.profile-img img {
  width: 56px;
  height: 56px;
}
.pro-name-title {
  text-align: left;
}
.pro-name-title h2 {
  font-size: 14px;
}
.pro-name-title p {
  font-size: 14px;
  color: #6e6e6e;
}
.profile-list img {
  width: 24px;
  margin-right: 10px;
}
.view {
  display: flex;
  align-items: center;
}
.lists {
  margin-bottom: 25px;
}
.lists svg {
  font-size: 24px;
  color: #ff3b00;
  margin-right: 10px;
}
.profile-list {
  margin: 42px 20px;
}
.bottom-text {
  margin-top: 468px;
}
.bottom-text p {
  margin: 0 20px;
  color: #6e6e6e;
  font-size: 16px;
}
.lists {
  color: #6e6e6e;
}
.view.lists {
  text-decoration: none;
}
.pt-0 {
  padding-top: 0;
}
.mr-0 {
  margin-right: 0;
}

.ed {
  display: flex;
  align-items: center;
}
.Impencil {
  color: #6e6e6e;
  height: 18px;
  width: 18px;
}
.profile-img p {
  font-size: 14px;
  color: #6e6e6e;
}
.sn-content {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}

/*---------------------------- allprofile -------------------------- */
.allprofile-body {
  width: 375px;
  max-width: 100%;
  margin: 0 auto;
  /* background: #f9f9fa; */
}
.allprofile-title {
  font-size: 18px;
  font-weight: 700;
  color: #6e6e6e;
  padding-left: 127px;
}
.pl-10 {
  padding-left: 10px;
  height: 24px;
  width: 24px;
}
